<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="type == 'bs'">
    <div class="row">
        <ng-container *ngFor="let field of fields">
            <div [class]="'col-md-' + field.colSpan + ' mb-3'">

                <label class="form-label">{{ field.label }}</label>

                <!-- INPUT -->
                <input *ngIf="['text','email','number','date','password'].includes(field.type)" class="form-control"
                    [type]="field.type" [formControlName]="field.key" >

                <!-- TEXTAREA -->
                <textarea *ngIf="field.type === 'textarea'" class="form-control" [formControlName]="field.key"
                   ></textarea>

                <!-- SELECT -->
                <select *ngIf="field.type === 'select'" class="form-select" [formControlName]="field.key">
                    <option value="">Select</option>
                    <option *ngFor="let opt of field.options" [value]="opt.value">
                        {{ opt.label }}
                    </option>
                </select>

                <!-- RADIO -->
                <div *ngIf="field.type === 'radio'">
                    <div *ngFor="let opt of field.options">
                        <input type="radio" [value]="opt.value" [formControlName]="field.key">
                        {{ opt.label }}
                    </div>
                </div>

                <select *ngIf="field.type === 'multiselect'" class="form-select" multiple [formControlName]="field.key">
                    <option *ngFor="let opt of field.options" [value]="opt.value">
                        {{ opt.label }}
                    </option>
                </select>

                <div *ngIf="field.type === 'checkbox'" class="form-check">
                    <input type="checkbox" class="form-check-input" [formControlName]="field.key">
                    <label class="form-check-label">{{ field.label }}</label>
                </div>
                <input *ngIf="field.type === 'file'" type="file" class="form-control"
                    (change)="onFileChange($event, field.key)">
                <!-- ERROR -->
                <small class="text-danger" *ngIf="form.get(field.key)?.touched && form.get(field.key)?.invalid">
                    {{ field.label }} is invalid
                </small>
            </div>
        </ng-container>
    </div>
    <button class="btn btn-primary mt-3">Submit</button>
</form>

<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="type == 'material'">
    <div class="row">

        <ng-container *ngFor="let field of fields">
            <div [class]="'col-md-' + (field.colSpan ?? 12) + ' mb-3'" *ngIf="field.visible !== false">

                <!-- LABEL -->
                <mat-form-field appearance="outline" class="w-100"
                    *ngIf="['text','email','number','password','date','textarea'].includes(field.type)">

                    <mat-label>{{ field.label }}</mat-label>

                    <!-- INPUT -->
                    <input matInput *ngIf="field.type !== 'textarea' && field.type !== 'date'" [type]="field.type"
                        [formControlName]="field.key" >

                    <!-- DATE -->
                    <input matInput *ngIf="field.type === 'date'" [matDatepicker]="picker" [formControlName]="field.key"
                       >
                    <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="field.type === 'date'">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                    <!-- TEXTAREA -->
                    <textarea matInput *ngIf="field.type === 'textarea'" rows="3" [formControlName]="field.key" >
          </textarea>

                    <!-- ERROR -->
                    <mat-error *ngIf="form.get(field.key)?.touched && form.get(field.key)?.invalid">
                        {{ field.label }} is invalid
                    </mat-error>

                </mat-form-field>

                <!-- SELECT -->
                <mat-form-field appearance="outline" class="w-100" *ngIf="field.type === 'select'">
                    <mat-label>{{ field.label }}</mat-label>
                    <mat-select [formControlName]="field.key">
                        <mat-option *ngFor="let opt of field.options" [value]="opt.value">
                            {{ opt.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get(field.key)?.touched && form.get(field.key)?.invalid">
                        {{ field.label }} is required
                    </mat-error>
                </mat-form-field>

                <!-- MULTI SELECT -->
                <mat-form-field appearance="outline" class="w-100" *ngIf="field.type === 'multiselect'">
                    <mat-label>{{ field.label }}</mat-label>
                    <mat-select multiple [formControlName]="field.key">
                        <mat-option *ngFor="let opt of field.options" [value]="opt.value">
                            {{ opt.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- RADIO -->
                <div *ngIf="field.type === 'radio'" class="mb-2">
                    <label class="fw-semibold d-block mb-1">{{ field.label }}</label>
                    <mat-radio-group [formControlName]="field.key">
                        <mat-radio-button class="me-3" *ngFor="let opt of field.options" [value]="opt.value">
                            {{ opt.label }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <!-- CHECKBOX -->
                <div *ngIf="field.type === 'checkbox'" class="mt-2">
                    <mat-checkbox [formControlName]="field.key">
                        {{ field.label }}
                    </mat-checkbox>
                </div>

                <!-- FILE -->
                <div *ngIf="field.type === 'file'" class="mt-2">
                    <label class="d-block mb-1">{{ field.label }}</label>
                    <input type="file" class="form-control" (change)="onFileChange($event, field.key)">
                </div>

            </div>
        </ng-container>

    </div>

    <button mat-raised-button color="primary" class="mt-3" type="submit">
        Submit
    </button>
</form>