<!--------------------------- Material Dropdown Starts -------------------------------->
<!-- SINGLE SELECT DROPDOWN -->
<mat-form-field appearance="outline" *ngIf="dropdownType === 'single'" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <mat-select>
    <mat-option *ngFor="let item of dropdownData" [value]="item.id">
      {{ item.name }}
    </mat-option>
  </mat-select>
</mat-form-field>


<!-- MULTIPLE SELECT DROPDOWN -->
<mat-form-field appearance="outline" *ngIf="dropdownType === 'multi'" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <mat-select multiple>
    <mat-option *ngFor="let item of dropdownData" [value]="item.id">
      {{ item.name }}
    </mat-option>
  </mat-select>
</mat-form-field>


<!-- AUTOCOMPLETE DROPDOWN -->
<mat-form-field appearance="outline" *ngIf="dropdownType === 'autocomplete'" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let item of dropdownData | filter: (searchControl.value ?? '')" [value]="item.name">
      {{ item.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<!--------------------------- Material Dropdown Ends -------------------------------->


