<!-- Header -->
<div class="header">
    <div class="header-left">
        <div class="logo" routerLink="widget" routerLinkActive="active">
            <img width="32px" src="assets/img/Theme-Icon.png">
            <span class="logo-text">UI Framework</span>
        </div>
        <nav class="nav">
            <a class="nav-link" routerLink="/pages" [ngClass]="{'active': isComponentsActive()}" >Components</a>
            <a class="nav-link" routerLink="/pages/nd-packages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ND Packages</a>
             <a class="nav-link" routerLink="/pages/design-standards" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Design Standards</a>
        </nav>
    </div>
    <div class="header-right">
        <!-- <span class="version">v19.2.19</span> -->
    </div>
</div>