<div class="stepper-container">
    <button class="arrow-btn" [disabled]="currentStepIndex === 0" (click)="prev()">
        <i class="fa fa-angle-double-left"></i>
    </button>

    <div class="steps">
        <div *ngFor="let step of steps; let i = index" class="step" [class.active]="i === currentStepIndex"
            [class.completed]="i < currentStepIndex" (click)="selectStep(i)">
            <div class="icon">
                <i [class]="step.icon"></i>
            </div>
            <div class="label">{{ step.label }}</div>
            <div *ngIf="i < steps.length - 1" class="connector"></div>
        </div>
    </div>

    <button class="arrow-btn" [disabled]="currentStepIndex === steps.length - 1" (click)="next()">
        <i class="fa fa-angle-double-right"></i>
    </button>
</div>