<div class="container-fluid login p-0">
  <div class="Login">
    <div class="" style="display: none;">
      <div class="login-top-logo-border"><a class="" href="">
          <img src="assets\Images\vaers-logo (1).png" class="login-top-logo" alt="VAERS">
        </a>
      </div>
    </div>
    <div class="container-fluid col row m-0 p-0">
      <div class="container-fluid col-8 loginLayout">
        <div class="lg-nova-lft auth-card mx-auto">

          <!--------SECTION-->
          <section class="lft_background_image" style="display: none;">
          </section>

          <!---------SECTION -->

          <section class="lft_background_image" style="display: none;">
            <div class="vertical-center-content">
              <div class="row col-12 p-0 m-0 mar-auto">
                <div class="col-12 row m-0">
                  <header class=" text-center">
                    <h2><span class="text-center"><span><strong>Delivering the Digital Promise!</strong>
                          <br>
                          Superior Stakeholder Experience & Business Performance!!</span></span></h2>
                  </header>
                </div>
                <!-- <hr> -->

                <div class="col-12 row p-0 abs1">
                  <div class="col-lg-12 p-0">
                    <div class="media">
                      <a class="pull-left">
                        <span class="icon"> <i class="fa fa-search " aria-hidden="true"></i></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Digital Data Processing</h4>
                        <!-- <em style=" font-style:normal;"><h6>Untapped Value. Quickly.</h6></em> -->
                        <p class="statement">Integrate data assets from the digital eco system at ease.

                          Leverage AI-driven business processes automation.

                          Achieve unparalleled process agility, efficiency and quality.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 p-0">
                    <div class="media">
                      <a class="pull-left">
                        <span class="icon"> <i class="fa fa-cubes " aria-hidden="true"></i></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Data Discovery</h4>
                        <!-- <em style=" font-style:normal;"><h6>Cognitive Capabilities. Easily.</h6></em> -->
                        <p class="statement">Organize and render 360&#176; views of business data - all in real time.

                          Enable deeper insights into key business processes and metrices.

                          Provide actionable intelligence to drive informed decisions for

                          superior business performance.</p>

                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 p-0">
                    <div class="media">
                      <a class="pull-left">
                        <span class="icon"> <i class="fa fa-random " aria-hidden="true"></i></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Digital Collaboration</h4>
                        <!-- <em style=" font-style:normal;"><h6>Performance. Transform.</h6></em> -->
                        <p class="statement">Engage with stakeholders with next generation digital collaboration

                          tools. Exchange information through secure apps and devices to

                          orchestrate business processes in real time. Personalize workflows

                          to maximize stakeholder experience. </p>

                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 text-center">
                    <p class="statement1 ">Connect! Experience! Achieve!</p>

                  </div>

                </div>
              </div>
            </div>
          </section>


          <!-- New-login-page-start -->

          <!--------NEW IFP BROCHURE IMAGE LAYOUT LEFT SECTION STARTS-->
          <section class="lft_background_image2">
            <div class="vertical-center-content">
              <div class="row col-12 p-0 m-0 mar-auto">
                <div class="col-12 row m-0">

                  <header class=" text-left header-logo">
                    <span class="left-image-logo" style="display: none;">
                      <img src="assets\Images\ifp-logo.png" alt="IFP">
                    </span>
                    <h2 style="display: none;"><span class="text-left"><span><strong class="text-bold">iFP</strong>
                          <br>
                          <span class="text-sub">intelligent Form Processing</span></span></span></h2>
                  </header>

                </div>
                <!-- <hr> -->

                <div class="col-12 row  abs1" style="display: none;">
                  <div class="col-lg-12 ">
                    <div class="media">
                      <p class="new-statement">Goodbye to <br> <b class="emphasis">DATA ENTRY</b> <br> Yes to 100%
                        <br><b class="emphasis">DATA AUTOMATION</b><br> with iFP</p>

                    </div>
                  </div>


                  <div class="col-lg-12 ">
                    <div class="media">
                      <p class="new-statement2">AI powered automation solution for auto extraction of <br>all
                        handwritten/printed forms in realtime</p>
                      <p class="new-statement2 mb-0" style="visibility: hidden;">Ai powered automation solution for auto
                        extraction of
                        <!-- <br>all hand written/printed forms in realtime -->
                      </p>

                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-12 footer-logo">
                <span class="left-image-logo">
                  <img src="assets\Images\ifp-logo.png" alt="IFP">
                </span>
                <h2><span class="text-left"><span>
                      <p class="logo-first-content">Powered by</p>
                      <!-- <br> -->
                      <span class="text-sub">
                        <p class="mb-0">DigiDocPro.AI</p>
                      </span>
                    </span></span></h2>
              </div>
            </div>
          </section>
          <!---------NEW IFP BROCHURE IMAGE LAYOUT LEFT SECTION ENDS --------->

          <!-- New-login-page-end -->

        </div>
      </div>
      <div class=".container-fluid col-4 loginCard" id="login-in1" #login>
        <div class="lg-nova card auth-card mx-auto ">
          <div class="px-4 pb-3">
            <h4 class="lead text-start lead-nova">
              Sign In</h4>
            <p class="sign-in-sub-header">Sign in with your username</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value, 'N')">
              <div class="col-12 p-0">
                <div class="form-group">
                  <div class="group">
                    <label class="col-12 p-0 data-content-label">Username
                      <span><sup class="text-danger font-size-lg top-minus-2px">*</sup></span>
                    </label>
                    <input class="data-content-input" id="userNameFocus" type="text" formControlName="username"
                      required>
                    <div *ngIf="submitted && loginForm.get('username').hasError('required')" class="invalid-feedback">
                      <div *ngIf="loginForm.get('username').hasError('required')">User Name is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0">
                <div class="form-group mb-1">
                  <div class="group mb-0">
                    <label class="col-12 p-0 data-content-label">Password
                      <span><sup class="text-danger font-size-lg top-minus-2px">*</sup></span>
                    </label>
                    <input class="data-content-input" type="password" id="password" formControlName="password" required
                      readonly onfocus="if (this.hasAttribute('readonly')) { this.removeAttribute('readonly');
                  this.blur();    this.focus();  }">
                    <div *ngIf="submitted && loginForm.get('password').hasError('required')" class="invalid-feedback">
                      <div *ngIf="loginForm.get('password').hasError('required')">Password is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 text-end" *ngIf="loginForm.get('password').value">
                <span (click)="togglePassLogin()">
                  <label *ngIf="!passwordShow"><small><a>Show password</a></small></label>
                  <label *ngIf="passwordShow"><small><a>Hide password</a></small></label>
                </span>
              </div>
              <div class="col-12 p-0">
                <div class="form-group form-lg-sgb">
                  <div class="text-start">
                    <button [disabled]="!loginForm.valid" class="btn btn-primary btn-ln ms-0">Sign In</button>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 text-start mt-2" style="display: none;">
                <small class="mgr-15"> <a (click)='forgetPassword()'>Reset password? </a></small>
              </div>
              <div class="form-group form-lg-sgb pt-4" *ngIf="existingUser">
                <div class="text-center mt-3">
                  <button class="btn btn-sapphire btn-ln" (click)="overrideLogin()">Continue</button>
                </div>
              </div>
              <div class="col-12 p-0 text-center form-lg-btn rgt_content_footer">
                <div class="">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class=".container-fluid col-4 loginCard" id="login-in1" #forgetpassword>
        <div class="lg-nova card auth-card mx-auto ">
          <div class="px-4 pb-3">
            <h4 class="lead text-start lead-nova">
              Reset Password</h4>
            <form [formGroup]="forgetPasswordform">
              <div class="col-12 p-0">
                <div class="form-group">
                  <div class="group">
                    <label class="col-12 p-0 data-content-label">Username
                      <span><sup class="text-danger font-size-lg top-minus-2px">*</sup></span>
                    </label>
                    <input class="data-content-input" type="text" id="f_name" formControlName="userNameForget" required>
                    <mat-error
                      *ngIf="forgetPasswordform.get('userNameForget').hasError('required') && forgetPasswordform.get('userNameForget').dirty">
                      UserName is Required!
                    </mat-error>
                    <mat-error *ngIf="forgetPasswordform.get('userNameForget').hasError('minlength')">
                      UserName should be atleast 2 characters long!
                    </mat-error>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0">
                <div class="form-group mb-1">
                  <div class="group mb-0">
                    <label class="col-12 p-0 data-content-label">New password
                      <span><sup class="text-danger font-size-lg top-minus-2px">*</sup></span>
                    </label>
                    <input class="data-content-input" type="password" id="passwordReset"
                      formControlName="passwordForget" required readonly onfocus="if (this.hasAttribute('readonly')) { this.removeAttribute('readonly');
                    this.blur();    this.focus();  }">
                    <mat-error
                      *ngIf="forgetPasswordform.get('passwordForget').hasError('required') && forgetPasswordform.get('passwordForget').dirty">
                      Password is Required!
                    </mat-error>
                    <mat-error *ngIf="forgetPasswordform.get('passwordForget').hasError('minlength')">
                      Password should be atleast 4 characters long!
                    </mat-error>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 text-end">
                <span (click)="togglePassReset()">
                  <label *ngIf="!passwordResetShow"><small><a>Show password</a></small></label>
                  <label *ngIf="passwordResetShow"><small><a>Hide password</a></small></label>
                </span>
              </div>
              <div class="col-12 p-0">
                <div class="form-group mb-1">
                  <div class="group mb-0">
                    <label class="col-12 p-0 data-content-label">Confirm password
                      <span><sup class="text-danger font-size-lg top-minus-2px">*</sup></span>
                    </label>
                    <input class="data-content-input" type="password" id="passwordResetConfirm"
                      formControlName="reEnterPasswordForget" required readonly onfocus="if (this.hasAttribute('readonly')) { this.removeAttribute('readonly');
                            this.blur();    this.focus();  }">
                    <mat-error
                      *ngIf="forgetPasswordform.get('passwordForget').hasError('required') && forgetPasswordform.get('passwordForget').dirty">
                      Confirm Password is Required!
                    </mat-error>
                    <mat-error *ngIf="forgetPasswordform.get('reEnterPasswordForget').hasError('mustMatch')">
                      Password & Confirm Password does not match.
                    </mat-error>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 text-end">
                <span (click)="togglePassResetConfirm()">
                  <label *ngIf="!passwordResetConfirmShow"><small><a>Show password</a></small></label>
                  <label *ngIf="passwordResetConfirmShow"><small><a>Hide password</a></small></label>
                </span>
              </div>
              <div class="col-12 p-0">
                <div class="form-group form-lg-sgb">
                  <div class="text-start">
                    <button class="btn btn-primary btn-ln ms-0" (click)="resetPassword()"
                      [disabled]="!forgetPasswordform.valid">Reset password</button>
                  </div>
                </div>
              </div>
              <div class="col-12 p-0 text-start mt-2">
                <small class="mgr-15"> <a (click)='showLogin()'>Back to Login </a></small>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="login-bottom-border" style="display: none;"></div>
    </div>
  </div>
</div>