.process-batch{
    position: relative;
    margin-top: 85px;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 10px;
   

.back-light{
    background-color: #F4FBFC;
    // margin-top: 85px;
    border-radius: 10px;
    // border: 2px dashed #555555;
    margin: 0 auto;
}

.img-side{
    position: relative;
    width: 35%;
    display: flex;
    justify-content: center;
}

.process-batch-side{
    border: 2px dashed #8a8a8a;
    border-radius: 10px;
}

.right-content{
    display: flex;
    align-items: center;    
    width: 60%;
}

.svg-img{
    svg{
        height: 50px;
        width: 50px;
        fill: #005EA2;
    }
}

.icon-dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: absolute;
    background-color: #f4fbfc;
    z-index: 10000;
    right: 48%;
    top: 21px;
}

.bacth-cont{
    span{
        text-align: center;
    }
    div{
        font-size: 14px;
    }
}

.card-instruction{
    font-size: 14px;
    padding-left: 28px;
}

.widget-heading {
    font-size: 21px;
    font-weight: 600;
    padding-left: 6px;
}

.widget-subheading {
    padding-left: 32px;
    font-size: 13px;
    font-weight: 400;
    padding-top: 4px;
}

.process-bottom{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.header-icon{
    font-size: 20px;
    color: #005EA2;
}

.widget-content{
    i{
        color: #0062a9;
        font-size: 13px;
        margin-right: 5px;
        border-radius: 14px;
        border: 1px solid #0062a9;
        width: 25px;
        height: 25px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        // background-color: #0062a9c7;
        padding: 0;
    }
}

.process-btn{
    width: 150px;
    border-radius: 10px;
    background-color: #2e8dcb !important;
    border-color: #2e8dcb !important;
}
}