<mat-tab-group animationDuration="400ms">
    <mat-tab label="ND Custom Grid">
        <markdown [src]="readmePathGrid"></markdown>
    </mat-tab>
    <mat-tab label="ND Custom Charts">
        <markdown [src]="readmePathChart"></markdown>
    </mat-tab>
    <mat-tab label="ND Custom viewer" >
        <mat-tab-group animationDuration="0ms">
    <mat-tab label="OVERVIEW (Implementation Guide)">
        <markdown [src]="readmePathViewer"></markdown>
    </mat-tab>
    <mat-tab label="Code">
        <mat-tab-group animationDuration="400ms">
            <mat-tab label="HTML">
                <div>
                    <button mat-icon-button (click)="copyToClipboard(html)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                    <pre><code>{{html}}</code></pre>
                </div>
            </mat-tab>
            <mat-tab label="CSS">
                <div>
                    <button mat-icon-button (click)="copyToClipboard(css)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                    <pre><code >{{css}}</code></pre>

                </div>
            </mat-tab>
            <mat-tab label="TS">
                <div>
                    <button mat-icon-button (click)="copyToClipboard(ts)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                    <pre><code >{{ts}}</code></pre>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Examples">
        <div class="container mt-2">
            <div class="row">
                <h2>PDF Viewer</h2>
                <app-fileviewer [fileUrl]="url" fileType="pdf" [showToolbar]="true" [zoom]="1.5" [fitToPage]="true" [currentPage]="page"
                    (afterLoadComplete)="onPdfLoaded($event)" (progress)="onPdfProgress($event)" (error)="onPdfError($event)"
                    (pageChange)="pagechange($event)" (getReset)="reset($event)"
                    (text-layer-rendered)="ontextLayerRendered($event)"></app-fileviewer>
                
                <h2>DOCX Viewer</h2>
                <app-fileviewer [fileUrl]="docx" fileType="docx"></app-fileviewer>
                
                <h2>Image JPG Viewer</h2>
                <app-fileviewer [fileUrl]="jpg" [displayCurrentPage]="2" [displayTotalPage]="5" fileType="jpg"></app-fileviewer>
                
                <h2>Image PNG Viewer</h2>
                <app-fileviewer [fileUrl]="png" [displayCurrentPage]="2" [displayTotalPage]="10" fileType="png"></app-fileviewer>
                
                <h2>Image tiff Viewer</h2>
                <app-fileviewer [fileUrl]="tiff" [displayCurrentPage]="9" [displayTotalPage]="10" (getCurrentPage)="getPage($event)"
                    fileType="tiff"></app-fileviewer>
                </div>
                </div>
    </mat-tab>
</mat-tab-group>

    </mat-tab>
</mat-tab-group>
