::ng-deep markdown {
  display: block;
  padding: 1.5rem;
  background: #fff;
  border-radius: 8px;
  font-family: system-ui, sans-serif;
}

::ng-deep markdown pre {
  background: #f6f8fa;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
}
