.tile-card {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 300px;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    }

    .tile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 14px;
        border-bottom: 2px solid #e8c67c;
        gap: 8px;

        .tile-title {
            display: flex;
            align-items: center;
            flex: 1;
            min-width: 0;
            gap: 6px;
            font-size: 16px;
            color: #3a2d00;

            i {
                color: #b8860b;
                font-size: 18px;
            }

            span {
                display: flex;
                align-items: center;
                gap: 6px;
                min-width: 20px;
            }
        }

        .tile-actions {
            display: flex;
            align-items: center;
            gap: 6px;
            flex-shrink: 0;

            .icon-btn {
                border: none;
                background: transparent;
                cursor: pointer;
                padding: 4px;
                border-radius: 50%;

                &:hover {
                    background: #f5f5f5;
                }

                i {
                    font-size: 16px;
                }

                &.user i {
                    color: #3b82f6; // blue
                }

                &.save i {
                    color: #9e9e9e;
                }

                &.info i {
                    color: #f97316;
                }
            }
        }
    }

    .tile-body {
        flex: 1;
        padding: 16px;
        background: #fafafa;
    }
}


.icon-rep {
    width: 22px;
    height: 22px;
    background: #4285f4;
    border: 2px solid #4285f4;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: white;
    line-height: 1;
    padding: 0;
    vertical-align: middle;
}

.icon-rep .fa {
    font-size: 11px !important;
    color: #fff !important;
}

.dis-fl {
    display: inline-flex !important;
}

// .dash-controls .dash-controls-icons .dash-controls-icons-hover ul {
//     padding-left: 0px !important;
//     margin-bottom: 0px !important;
// }

// .dash-controls .dash-controls-icons .dash-controls-icons-hover li {
//     list-style: none;
//     display: inline-block;
//     padding-left: 8px;
//     margin-bottom: 0px !important;
// }


.dash-controls .dash-controls-icons .hide-controls {
    display: none;
}

.dash-controls .dash-controls-icons:hover .hide-controls {
    display: inline-flex;
}

.dash-controls .dash-controls-icons:hover .show-controls {
    display: none;
}

.dash-controls .dash-controls-icons .fa,
.dash-controls .dash-controls-icons .fas {
    color: #9e9e9e;
}

.dash-controls .dash-controls-icons .dash-controls-icons-hover {
    max-width: 0;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.dash-controls .dash-controls-icons-nt .fa,
.dash-controls .dash-controls-icons-nt .fas {
    color: #9e9e9e;
    padding-right: 2px;
}

.dash-controls .dash-controls-icons-nt .fn-bld {
    font-weight: 600;
}

.dash-controls {
    padding: 0px;
    position: relative;
    z-index: 100;
    display: block;
    font-size: 13px;
    padding-top: 4px !important;
    float: right;
    right: 0px;
    top: 0px;
    text-align: right;
    justify-content: right;

    .dash-controls-icons-nt {
        padding-left: 8px;

        .fa,
        .fas {
            color: #9e9e9e;
        }

        .fn-bld {
            font-weight: 600;
        }
    }

    .dash-controls-icons {
        padding-left: 8px;

        .fa,
        .fas {
            color: #9e9e9e;
        }

        .fn-bld {
            font-weight: 600;
        }

        .dash-controls-icons-hover {
            ul {
                padding-left: 0px !important;
                margin-bottom: 0px !important;
            }

            li {
                list-style: none;
                display: inline-block;
                padding-left: 8px;
                margin-bottom: 0px !important;
            }
        }

        .show-controls {
            display: block;
        }

        .hide-controls {
            display: none;
        }
    }

    .dash-controls-icons .dash-controls-icons-hover {
        max-width: 0;
        -webkit-transition: max-width 1s;
        transition: max-width 1s;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
    }

    .dash-controls-icons:hover .dash-controls-icons-hover {
        max-width: 10rem;
    }

    .dash-controls-icons:hover .show-controls {
        display: none;
    }

    .dash-controls-icons:hover .hide-controls {
        display: block;
    }
}

.full-width-sidemenu {
    .sidebar-list-container {
        top: 75px !important;
    }

    .content-container {
        padding-top: 40px !important;
    }
}

a,
a img,
button,
.btn {
    cursor: pointer;
}

.title-text {
    flex: 1;
    min-width: 0;
    /* REQUIRED for ellipsis */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    /* block or inline-block is needed */
    font-weight: 500;
}




// timer

.dl-6 .dat-drp.filter-align.pad-rgt-rmv.pad-col-4 {
    padding: 0px;
}

.dashboard article .dat-drp span select {
    height: 25px;
    background-color: #f5f5f5;
    color: #000;
    border-color: #fff;
    width: 160px;
    font-size: 11px !important;

}


select {
    padding: 2px;
    border-radius: 4px;
    height: 25px;
    background-color: #f5f5f5;
    color: #000;
    border-color: #fff;
    width: 160px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 11px !important;
}

.dat-drp select:focus {
    outline: #aed498 auto 1px !important;
}

.default {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    align-items: center;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10px;
    position: relative;
}

.middle-line {
    width: 97%;
    height: 0.5px;
    background-color: #eeeeee;
    border-radius: 2px;
}

// info icon
.dashboard .info-nova {
    padding-top: 5px !important;
    padding-left: 9px !important;
}



.info-nova .btn:not(.btn-icon),
.info-nova .input-group .input-group-btn .btn,
.info-nova .btn-sm:not(.btn-icon),
.info-nova .input-group.input-group-sm .input-group-btn .btn {
    height: 20px;
    width: 20px;
    padding: 1px 8px 10px 7px;
    outline: none;
}

.dashboard .btn {
    margin-bottom: 0px;
}

.info-nova .btn-info {
    color: #fff !important;
    background-color: #ef7b2e !important;
    border-color: #AD7A0F !important;
}

.btn.btn-round {
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    border-color: transparent !important;
    cursor: not-allowed !important;
}