<div [ngClass]="{
              'col-lg-12 col-md-12 col-sm-12 dl-12':size == 'large-x',
              'col-lg-9 col-md-9 col-sm-9': size == 'large',
              'col-lg-6 col-md-6 col-sm-6 dl-6': size == 'medium',
              'col-lg-4 col-md-4 col-sm-4 dl-4': size == 'small',
            }" id="{{uniqueId}}">
    <div class="tile-card">
        <div class="tile-header">
            <div class="tile-title">
                <span>
                    <i class="fa fa-dashboard"></i>
                    <span class="title-text" [title]="title">{{ title }}</span>
                </span>
                <span class="icon-rep ms-1" title="{{titleIdentification}}">
                    <i class="fa fa-user"></i>
                </span>
            </div>

            <div class="tile-actions">
                <div class="col pl-0 dash-controls dis-fl">
                    <a class="dash-controls-icons dis-fl">
                        <span class="show-controls" title="More"><i class="fa fa-angle-left fn-bld"></i></span>
                        <span class="hide-controls" title="Less"><i class="fa fa-angle-right fn-bld"></i></span>
                        <span class="dash-controls-icons-hover">
                            <ul>
                                <li (click)="onWidgetControlClicked('Increase')" title="Increase Width">
                                    <span><i class="fa fa-expand"></i></span>
                                </li>
                                <li (click)="onWidgetControlClicked('Decrease')" title="Decrease Width">
                                    <span><i class="fa fa-compress"></i></span>
                                </li>
                                <li (click)="onWidgetControlClicked('Collapse')" title="Collapse">
                                    <span><i class="fa fa-minus"></i></span>
                                </li>
                                <li (click)="onWidgetControlClicked('Close')" title="Close">
                                    <span><i class="fa fa-close"></i></span>
                                </li>
                            </ul>
                        </span>
                    </a>
                    <a class="dash-controls-icons-nt" (click)="onWidgetControlClicked('DragAndDrop')">
                        <span class="example-handle" title="Drag & Drop" cdkDragHandle>
                            <i class="fa fa-arrows"></i>
                        </span>
                    </a>
                    <a (click)="onWidgetControlClicked('FullViewWidget')" class="dash-controls-icons-nt">
                        <span title="Full View Widget"><i class="fa fa-external-link fn-bld"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div *ngIf="widgetFilterBar" style="display: inline-flex;"
                [style.display]="widgetFilterBar ? 'none' : 'inline-flex'"
                class="col btn-toolbar toolbar-h text-left edge pad-lft pad-rgt-rmv" role="toolbar">
                <div class="col" class="col default res-padding-0-lg dat-drp filter-align pad-rgt-rmv pad-col-4">
                    <span>
                        <span *ngIf="widgetFilterBarOptions.firstDropdownValue.show ?? true">
                            <i class="{{ widgetFilterBarOptions.firstDropdownValue.icon}}"></i>
                            <span class="org-col-4 mr-0 ng-binding">
                                <span class="dis">&nbsp;{{widgetFilterBarOptions.firstDropdownValue.label}}:</span>
                                &nbsp; <select
                                    (change)="onSelectChange($event, widgetFilterBarOptions.firstDropdownValue.label)">
                                    <option value="" disabled>Select an option</option>
                                    <option
                                        *ngFor="let opt of widgetFilterBarOptions.firstDropdownValue.dropdownOptions"
                                        [value]="opt.value">{{ opt.value }}</option>
                                </select>
                            </span>
                        </span>
                        <span *ngIf=" widgetFilterBarOptions.secondDropdownValue.show ?? true"
                            class="org-col-4 ng-binding" style="padding-left: 5px;">
                            <span class="dis la-res"><i
                                    class="{{widgetFilterBarOptions.secondDropdownValue.icon}}"></i>&nbsp;
                                {{widgetFilterBarOptions.secondDropdownValue.label}}:</span>
                            &nbsp; <select
                                (change)="onSelectChange($event, widgetFilterBarOptions.secondDropdownValue.label)">
                                <option value="" disabled>Select an option</option>
                                <option *ngFor="let opt of widgetFilterBarOptions.secondDropdownValue.dropdownOptions"
                                    [value]="opt.value">{{ opt.value }}</option>
                            </select>
                        </span>
                    </span>
                </div>
            </div>
            <div class="line-container">
                <span class="middle-line"></span>
            </div>
            <div *ngIf="infoActionGroup.default" style="display: inline-flex; justify-content: flex-end;"
                class="col-lg-12 col-md-12 col-sm-12 info-nova bord-info">
                <button *ngIf="infoActionGroup.showSave" [disabled]="infoActionGroup.disableSave"
                    (click)="onInfoAction('save')" class="btn btn-sapphire pull-right btn-round info-btn btn-chrt-save">
                    <i class="fa fa-floppy-o" style="margin-left:-5px" aria-hidden="true"></i>
                </button>
                <button *ngIf="infoActionGroup.showInfo" [disabled]="infoActionGroup.disableInfo"
                    (click)="onInfoAction('info')" class="btn btn-info pull-right btn-round info-btn ms-2 me-2">
                    <i class="fa fa-info" aria-hidden="true"></i>
                </button>
            </div>
            <div class="tile-body">
                <ng-content>
                </ng-content>
            </div>
        </div>
    </div>
</div>