<!-- <div class="sidebar">
    <div class="sidebar-item" routerLink="/pages/widget" routerLinkActive="active">
        <i class="fas fa-th-large"></i>
        <span>Widget</span>
    </div>
    <div class="sidebar-item" routerLink="/pages/dynamic-forms" routerLinkActive="active">
        <i class="fas fa-bell"></i>
        <span>Dynamic Forms</span>
    </div>
    <div class="sidebar-item" routerLink="/pages/loader" routerLinkActive="active">
        <i class="fas fa-spinner"></i>
        <span>Page Loader</span>
    </div>
    <div class="sidebar-item" routerLink="/pages/datepicker" routerLinkActive="active">
        <i class="fas fa-calendar-alt"></i>
        <span>Datepicker</span>
    </div>

    <div class="sidebar-item" routerLink="/pages/tabs" routerLinkActive="active">
        <i class="fas fa-folder-open"></i>
        <span>Dynamic Tabs</span>
    </div>
    <div class="sidebar-item" routerLink="/pages/dropdown" routerLinkActive="active">
        <i class="fas fa-chevron-down"></i>
        <span>Dropdown</span>
    </div>
    <div class="sidebar-item" routerLink="/pages/header" routerLinkActive="active">
        <i class="fas fa-window-restore"></i>
        <span>Header</span>
    </div>
    <div class="sidebar-item" routerLink="/pages/stepper" routerLinkActive="active">
        <i class="fas fa-window-restore"></i>
        <span>Stepper</span>
    </div>
    <div class="sidebar-item" routerLink="/pages/fileupload" routerLinkActive="active">
        <i class="fas fa-file-upload"></i>
        <span>File Upload</span>
    </div>

    <div class="sidebar-item" routerLink="/pages/modal" routerLinkActive="active">
       <i class="fas fa-window-restore"></i>
        <span>Modal Popup</span>
    </div>
    <div class="sidebar-item" routerLink="/pages/splitter" routerLinkActive="active">
        <i class="fas fa-hand-pointer"></i>
        <span>Screen Splitter</span>
    </div>

    <div class="sidebar-item" routerLink="toaster" routerLinkActive="active">
        <i class="fas fa-keyboard"></i>
        <span>Toaster</span>
    </div>

</div> -->
\


<div class="sidebar">

  <!-- Search Input -->
  <div class="sidebar-search">
    <input
      type="text"
      placeholder="Search menu..."
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChange($event)"
      
    />
    <i class="fas fa-search search-icon"></i>
  </div>

  <!-- Menu Items -->
  <div
    class="sidebar-item"
    *ngFor="let menu of filteredMenu"
    [routerLink]="menu.route"
    routerLinkActive="active"
  >
    <i [class]="menu.icon"></i>
    <span>{{ menu.label }}</span>
  </div>

  <div class="no-menu" *ngIf="filteredMenu.length === 0">
  <i class="fas fa-search"></i>
  <span>No menus found</span>
</div>

</div>
