@import '../../../../scss/Variables.scss';

.chart-container{
    height: calc(100% - 0px);
}

.highcharts-axis-title{
    y: 240 !important;
}

text{
    y: 240 !important;
}

.btn-info2{
    position: absolute;
    z-index: 1;
    top: -15px;
    border: 1px solid #9e9e9e;
    padding: 0px 5px;

    .fa,.fas{
        color: #9e9e9e;
    }
}

.chart-element {
    height: 295px !important;
}