<ng-container [ngSwitch]="fileExtension">
  <!-- PDF viewer -->
  <div class="pdf-toolbar" *ngIf="showToolbar && fileType === 'pdf' && totalPages">
     <button class="btn-primary" (click)="prevPage()" *ngIf="displayTotalPage" [disabled]="displayCurrentPage <= 1">Prev</button>
    <button class="btn-primary" (click)="prevPage()" *ngIf="!displayTotalPage" [disabled]="currentPage <= 1">Prev</button>
  <div style="display: flex;">
     <div class="icons">
     <button (click)="zoomOut()"><img src="/assets/zoonout.png"></button>
    <!-- <span>{{ (zoom * 100) | number: '1.0-0' }}%</span> -->
    <button (click)="zoomIn()"><img src="/assets/zoomin.png"></button>
    <button (click)="rotateLeft()"><img src="/assets/rotate-left.png"></button>
    <button (click)="rotateRight()"><img src="/assets/rotate-right.png"></button>

   </div >

     <input type="number" [value]="displayCurrentPage || currentPage" [readonly]="readonlyCurrentPage" (change)="goToPage($event)" min="1"
      [max]="displayTotalPage || totalPages" style="width: 50px; text-align: center;" />
    <span>/ {{ displayTotalPage || totalPages }}</span>
  </div>
   
  
    <div class="right-btns">
      <button class="btn-primary" (click)="nextPage()" *ngIf="displayTotalPage"[disabled]="displayCurrentPage >= displayTotalPage">Next</button>
    <button class="btn-primary" (click)="nextPage()" *ngIf="!displayTotalPage" [disabled]="currentPage >= totalPages">Next</button>
    <button class="btn-primary" (click)="resetView()">Reset</button>
    </div>
  </div>

  <pdf-viewer *ngSwitchCase="'pdf'" [src]="fileUrl" [render-text]="renderText" [original-size]="originalSize"
    [show-all]="showAll" [zoom]="zoom" [page]="currentPage" [rotation]="rotation" [autoresize]="autoresize"
    [fit-to-page]="fitToPage" [highlight]="true" (after-load-complete)="onLoadComplete($event)"
    (on-progress)="onProgress($event)" (error)="onError($event)" (pageRendered)="onPageRendered($event)"
    (text-layer-rendered)="ontextLayerRendered($event)" (pageChange)="onPageChange($event)"
    style="width: 100%; height: 600px; overflow-y: auto;" class="pdf-container"></pdf-viewer>

  <!-- Document viewer -->
  <ngx-doc-viewer *ngSwitchCase="'docx'" [url]="fileUrl" [external]="true"
    style="width: 100%; height: 600px;"></ngx-doc-viewer>

  <!-- Images -->
<!-- Image Toolbar -->
<div class="image-toolbar pdf-toolbar" *ngIf="showToolbar && ['jpg', 'jpeg', 'png'].includes(fileType)">
  
    <button class="btn-primary" (click)="prevPage()" *ngIf="displayTotalPage" [disabled]="displayCurrentPage <= 1">Prev</button>

  
    <div style="display: flex;">
        <div class="icons">
     <button (click)="imgZoomOut()"><img src="/assets/zoonout.png"></button>
  <!-- <span>{{ (imgZoom * 100) | number: '1.0-0' }}%</span> -->
  <button (click)="imgZoomIn()"><img src="/assets/zoomin.png"></button>
  <button (click)="imgRotateLeft()"><img src="/assets/rotate-left.png"></button>
  <button (click)="imgRotateRight()"><img src="/assets/rotate-right.png"></button>
  </div>
      <input type="number" [value]="displayCurrentPage || currentPage" [readonly]="readonlyCurrentPage" (change)="goToPage($event)" min="1"
      [max]="displayTotalPage || totalPages" style="width: 50px; text-align: center;" />
    <span>/ {{ displayTotalPage || totalPages }}</span>
    </div>
    <div class="right-btns">
      <button class="btn-primary" (click)="nextPage()" *ngIf="displayTotalPage"[disabled]="displayCurrentPage >= displayTotalPage">Next</button>
  <button class="btn-primary" (click)="imgReset()">Reset</button>
    </div>
</div>

<!-- Scrollable + Draggable Image Container -->
<div 
*ngIf="['jpg', 'jpeg', 'png'].includes(fileType)"
  class="image-container" 
  #imageContainer
  (mousedown)="startPan($event)" 
  (mousemove)="onPan($event)" 
  (mouseup)="endPan()" 
  (mouseleave)="endPan()"
>
  <img
    [src]="fileUrl"
    alt="Image Viewer"
    [style.transform]="imgTransform"
    draggable="false"
  />
</div>


  <div class="pdf-toolbar" *ngIf="fileType === 'tiff' && tiffTotalPages">

     <button class="btn-primary" (click)="tiffPrevPage()" *ngIf="displayTotalPage"
      [disabled]="displayCurrentPage <= 1">Prev</button>
    <button class="btn-primary" (click)="tiffPrevPage()" *ngIf="!displayTotalPage"
      [disabled]="tiffCurrentPage <= 0">Prev</button>


     <div class="" style="display: flex;">
       <div class="icons">
     <button (click)="zoomInTiff()"><img src="/assets/zoonout.png"></button>
    <!-- <span>{{ (tiffZoom * 100) | number: '1.0-0' }}%</span> -->
    <button (click)="zoomOutTiff()"><img src="/assets/zoomin.png"></button>
    <button (click)="rotateLeftTiff()"><img src="/assets/rotate-left.png"></button>
    <button (click)="rotateRightTiff()"><img src="/assets/rotate-right.png"></button>
   </div>
    <input type="number" [value]="displayCurrentPage || tiffCurrentPage + 1" (change)="tiffGoToPage($event)" [min]="1"
      (keydown)="blockNegative($event)" [readonly]="readonlyCurrentPage" [max]="displayTotalPage || tiffTotalPages"
      style="width: 50px; text-align: center;" />
    <span>/ {{ displayTotalPage || tiffTotalPages }}</span>
     </div>

    <div class="right-btns">
      <button class="btn-primary" (click)="tiffNextPage()" *ngIf="displayTotalPage "
      [disabled]="displayCurrentPage >= displayTotalPage">Next</button>
    <button class="btn-primary" (click)="tiffNextPage()" *ngIf="!displayTotalPage "
      [disabled]="tiffCurrentPage >= tiffTotalPages - 1">Next</button>
    <button class="btn-primary" (click)="tiffResetView()">Reset</button>
    </div>
  </div>

  <div *ngSwitchCase="'tiff'" class="tiff-container" [style.transform]="'rotate(' + tiffRotation + 'deg)'">
    <canvas class="img-responsive pdf-viewer-cont work-area canvas" width="600" height="800"
      style="display: block; width: 100%; height: 100vh;" #canvas>
    </canvas>
  </div>

  <!-- JSON Viewer -->
<div *ngSwitchCase="'json'" class="json-container">
  <div class="json-toolbar pdf-toolbar" *ngIf="showToolbar">
    <button class="btn-primary" (click)="toggleJsonViewMode()">
      Switch to {{ isJsonTreeView ? 'Text View' : 'Tree View' }}
    </button>
  </div>

  <!-- Tree View -->
  <ngx-json-viewer *ngIf="isJsonTreeView" [json]="jsonData" [expanded]="true"></ngx-json-viewer>

  <!-- Raw Text View -->
  <pre *ngIf="!isJsonTreeView" class="json-text-view">{{ formattedJson }}</pre>
</div>

</ng-container>