/*  Common Colors */

$Primary: #005EA2;
$Secondary: #557d50;
$Tertiary: #CA7D2F;
$White: #ffffff;
$Black: #000000;
$Gray: #444444;
$Mid_Gray: #7d7d7d;
$Light_Gray: #f1f1f1;
$Light_Mid_Gray: #eeeeee;
$Dark_Gray: #454545;
$Light_Green: #25CD25;
$Transparent: #0000;
$Input_Outer_Border: #999999;
$Partition_Line: #E6E6E6;
$Gray_Label: #565C65;
$Black_Label: #1b1b1b;
$Font_Family: 'Source Sans Pro', Roboto, 'Source Sans Pro Web', Public Sans Web , Open Sans , sans-serif;
$Disabled_Button: #cac8c8;

/*  Page Header Menu Colors */
$Menu_Active: #F3E2BF;
$Notification_Background: #D54309;

/*  Dashboard Info Icon */
$Dashboard_Info_Icon: #FA9441;
$Accordion_Content_Background: #ebeced;

/*  Filter Color */
$Filter_Active: #BFE6FF;

/*  Slider Color */
$Slider_Inactive: #cccccc;
$Slider_Active: #7FC92C;

/*  Scroll Color */
$Scroll_Default: #9e9e9e;
$Scroll_Hover: #616161;

/*  Tab Color */
$Tab-Inactive-Background: #fcfcfc;
$Tab_Inactive_Texts: #5E6064;
$Tab-Active-Background: #D7ECF9;
$Tab_Task-Active-Background: #e9f5fc;
$Tab_Active_Texts: #2E8DCB;
$TabHr: #439dd8;
$Tab_Completed_Icon: #49A83D;
$Tab_Task_User_Info_Background: #A1D9FA;

/*  Split Screen Color */
$Split_Header: #1a4480;
$Split_Left_Background: #DDE2EB;
$Field_Border: #181D1F;

/*  Pdf viewer Color */
$PdfViewer_Toolbar_Background: #f5f5f5;
$PdfViewer_Toolbar_Page_Border: #c4c4c4;
$PdfViewer_Toolbar_Search_Border: #babfc7;
$PdfViewer_Toolbar_Bookmark: #bdc436;

/*  Summary Output Color */
$border: #ddd;
$border-hover: #aaa;
$bg-hover: #e5eff7;
$text: #888;
$oneindent: 0px;
$ident: 11px;
$left: ($ident);
$pdf: #ed4444;

/*  Accordion Color */
$Accordion_Case_Border: #c2c2c2;
$Accordion_Case_Header_Background: #1a5eb833;
$Accordion_Header_Font_Color: #1a5eb8;

/* PDF high medium low */
$danger:#dc3545;
$info-icon2:#e8a836;

/* Refresh Icon Color */
$Refresh-Icon: #5b5b5b;

/* Font Sizes */
$font-12: 13px;
$font-13:14px;
$font-14:15px;
$font-40:41px;

/* Side menu Variables */
$Sidemenu_Background: #4b4b4b;
$Sidemenu_Border: #424242;
$Sidemenu_Color: #e0e0e0;
$Sidemenu_Header_Color: #fafafa;
$Sidemenu_Active_color: #212121;
$Sidemenu_Hover_Background: #ffffff1a;
$Sidemenu_Active_Background: #7ab700;