body{
  font-family: 'Open Sans' !important;
}


.pdf-toolbar {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.pdf-toolbar button {
  /* background-color: #007bff; */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  min-width: 30px;
}

.pdf-toolbar button:hover {
  /* background-color: #0056b3; */
}

.pdf-toolbar button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pdf-toolbar input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
}

.tiff-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  /* Space for toolbar */
  transition: transform 0.3s ease;
  transform-origin: center center;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.tiff-container canvas {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.image-toolbar {
  display: flex;
  gap: 8px;
  margin-bottom: 0;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 600px;
  overflow: auto;
  border: 1px solid #ccc;
  cursor: grab;
  padding: 10px 0px;
}

.image-container:active {
  cursor: grabbing;
}

.image-container img {
  transform-origin: center center;
  transition: transform 0.3s ease;
  display: block;
  margin: auto;
}



/*  custom styles  */

.btn-primary{
    font-size: 16px !important;
    background-color: #0056b3 !important;
    color: #fff !important;
    border-radius: 5px !important;
    font-weight: 540 !important;
    padding: 4px 12px !important;
    height: 30px;
    border: none !important;
}

.right-btns button{
  margin-right: 5px;
}
.pdf-toolbar img{
  width: 20px !important;
}

