
.file-upload-container {
  width: 100%;
  text-align: center;
  cursor: pointer; 
}

.upload-file-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-upload-cloud {
  font-size: 40px;
  color: #2196f3;
}

.file-list {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  width: 80%;
  text-align: center;

  p {
    margin: 0;
    font-size: 14px;
    color: #0d0d0d;
    word-break: break-all;
  }
}

.upl-btn {
  margin-top: 10px;
  min-width: 120px;
}
